<html>
<head>
    <title>Simple CV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/landing.css">
</head>
<body>

    <div class="page page-home">
        <header class="page__header header">
            <h1>SimpleCV</h1>
            <p>Clean, effective way to share your resume</p>
        </header>
    </div>

</body>
</html>

