$section-border-width: 8px;
$section-border-radius: 3px;

$color-text-title: black;
$color-text-primary: black;
$color-text-secondary: #7a7a7a;

$font-primary: Roboto, sans-serif;
$font-secondary: Arial, serif;
$font-secondary-alt: monospace;
